.tooltip {
    position: absolute;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    pointer-events: none;
  }

.plot-container {
  display: flex;
  flex-direction: row;
}